{% extends "site_base.html" %}
{% load i18n %}
{% comment %}
This is where you can override the hero area block. You can simply modify the content below or replace it wholesale to meet your own needs.
{% endcomment %}

{% block title %} {% trans "Upload data"  %} - {{ block.super }}  {% endblock %}

{% block body %}
   <div class="page-header">
     <a href="{% url "cread_upload" %}" class="btn btn-primary pull-right">{% trans "Create a New Map" %}</a>
     <h2 class="page-title">{% trans "Upload Data" %}</h2>
   </div>
{% endblock %}

{% block hero %}
  <div class="jumbotron">
    <div class="container">
      <h1>{% trans "Welcome C-READ site" %}</h1>
      <p>{% blocktrans %}GeoNode is an open source platform for sharing geospatial data and maps.{% endblocktrans %}</p>
      <p>{% blocktrans %}If you have any questions about the software or service, join our <a href="https://groups.google.com/d/forum/geonode-users">mailing list</a>.{% endblocktrans %}</p>
      <span>{% trans 'Need help?' %} <a href="http://docs.geonode.org/en/latest/tutorials/users/quickstart/index.html">{% trans 'Getting Started' %}</a></span>
    </div>
  </div>
{% endblock %}

{% block body_outer %}
    <div class="page-header">
        <h2 class="page-title">{% trans "Upload Data" %}</h2>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-md-9">
                <span>TODO: here you can choose a data type to upload... etc etc.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </span>
                <!-- { % include "search/_sort_filters.html" % } -->
                <div class="col-md-12 grid-spacer">
                      <!-- include 'base/_resourcebase_snippet.html' -->
                      <!-- include 'search/_pagination.html' -->
                    <div class="row items-list">
                        <div class="col-xs-4 thumb">
                            <a class="btn btn-primary" href="{% url "cread_upload_geo" %}" role="button">{% trans "Upload geographic data" %} &raquo;</a>
                        </div>
                        <div class="col-xs-8 item-info">
                           <h4>{% trans "Geographic data" %}</h4>
                           <p>TODO: How-to upload geographic data. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                           <!-- <p class="abstract">TODO: Description: how to upload geographic data</p> -->
                        </div>
                    </div>

                    <div class="row items-list">
                        <div class="col-xs-4 thumb">
                            <a class="btn btn-primary" href="{% url "cread_upload_doc" %}" role="button">{% trans "Upload documents" %} &raquo;</a>
							<!--a class="btn btn-primary" href="{% url "document_upload" %}" role="button">{% trans "Upload documents" %} &raquo;</a-->
                        </div>
                        <div class="col-xs-8 item-info">
                            <h4>{% trans "Textual data (or other non-geographic data)" %}</a></h4>
                            <p>TODO: How-to upload non-geographic data. <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span></p>
                            <!-- <p class="abstract">TODO: Description: how to upload textual or grid data</p> -->
                        </div>
                    </div>

                    <div class="row items-list">
                        <div class="col-xs-4 thumb">
                            <a class="btn btn-primary" href="{% url "maptemplate_choose_template" %}" role="button">{% trans "Thematic map" %} &raquo;</a>
                        </div>
                        <div class="col-xs-8 item-info">
                            <h4>{% trans "Create a themtic map" %}</a></h4>
                            <p>TODO: How-to create a map. <span>You can create a map by using the data layers which are already inside the C-READ system.
                            You'll have to choose one of the predefined templates, and then you'll have to add to the map the layers belonging to
                            the categories required by the template.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span></p>
                        </div>
                    </div>


                    <div class="panel panel-default row items-list">
                        <div class="panel-heading">
                            <a class="btn btn-primary pull-right"
                                 onclick="javascript: $('#advanced_metadata_panel').toggle();">
                                  {% trans "Toggle" %}</a>
                            <h4>{% trans "Advanced options" %}</h4>
                        </div>

                        <div id="advanced_metadata_panel" class="panel-body form-controls" style="display:none;">
                            <div class="row items-list">
                                <div class="col-xs-4 thumb">
                                    <a class="btn btn-primary" href="{% url "cread_upload_mosaics" %}" role="button">{% trans "Upload mosaics" %} &raquo;</a>
                                </div>
                                <div class="col-xs-8 item-info">
                                   <h4>{% trans "Mosaics" %}</h4>
                                   <p>TODO: How-to upload mosaics. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                   <!-- <p class="abstract">TODO: Description: how to upload geographic data</p> -->
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block body_class %}data{% endblock %}

